<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div id="app">
		<header class="header">

		</header>
		<section class="container">
			<section class="container__content">

				<form v-on:submit.prevent="onSubmit">
					<label for="nome">Nome</label>
					<input type="text" id="nome">

					<label for="cpf">CPF</label>
					<input type="text" id="cpf">

					<label for="cep">CEP</label>
					<input type="text" id="cep"> <br> <br>

					<label for="endereco">Endereço</label>
					<input type="text" id="endereco">

					<label for="telefone">telefone</label>
					<input type="text" id="telefone">

					<label for="uf">UF</label>
					<input type="text" id="uf"> <br> <br>

					<div v-for="item in lista">
						<div v-html='item'></div>
					</div>
					<!-- <div v-html="AddCampo()"></div> <br> <br> -->

					<button @click="NovoCampo()">Adicionar Novo</button>

					<button>Enviar</button> <br> <br>

					<div v-if="newCampo">
						<label for="NomeNovoCampo">Nome</label>
						<input v-model="nomeInput" type="text" id="NomeNovoCampo">

						<label for="NomeNovoCampo">Tipo</label> 
						<input v-model="tipo" type="text" id="NomeNovoCampo"> <br> <br>

						<label for="NomeNovoCampo">Obrigatoriedade</label>
						<input v-model="obrigatoriedade" type="text" id="NomeNovoCampo"> <br> <br>

						<button @click="add">Adicionar</button>
					</div>

	
				</form>

			</section>
			<aside class="container__sidebar">

				<div v-for="item in lista">{{item}}</div>

			</aside>
		</section>
		<footer class="footer">

			<span v-text="copyright"></span>

		</footer>
	</div>

	<script src="script.js"></script>
</body>
</html>